<!DOCTYPE html>
<html lang="en">
<head> <!-- Al poner include del head, tenemos  Problemas con vista de escritorio --> 
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header-footer-stylesheet.ejs')%>
    <link rel="stylesheet" href="/css/filtrado.css">
    <title>Filtrado</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="barraInferior">
        <a href="producto">Productos<i class="fa-solid fa-chevron-down"></i></a>
        <a href="#">Marcas<i class="fa-solid fa-chevron-down"></i></a>
        <a href="#">Ofertas<i class="fa-solid fa-chevron-down"></i></a>
    </div>
    <main>
        
        <div class="side">
            <h4>Filtrado <i class="fa-solid fa-filter"></i><i class="fa-solid fa-chevron-down"></i></h4>
            <div class="filtros">
                <p>Categoría <i class="fa-solid fa-chevron-down"></i></p>
                <p>Condición <i class="fa-solid fa-chevron-down"></i></p>
                <p>Marca <i class="fa-solid fa-chevron-down"></i></p>
                <p>Precio <i class="fa-solid fa-chevron-down"></i></p>
            </div>
        </div>
        <div class="galeriaProductos">
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>

            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>

            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>

            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>