<!DOCTYPE html>
<html lang="en">
<head> <!-- Al poner include del head, tenemos  Problemas con vista de escritorio --> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/filtrado.css">
    <script src="https://kit.fontawesome.com/a8a8077e98.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&display=swap" rel="stylesheet">
    <title>Ganga Pádel - Filtrado de productos</title>
</head>
<body>
    <main>
        <div class="side">
            <h4>Filtrado <i class="fa-solid fa-filter"></i><i class="fa-solid fa-chevron-down"></i></h4>
            <div class="filtros">
                <p>Categoría <i class="fa-solid fa-chevron-down"></i></p>
                <p>Condición <i class="fa-solid fa-chevron-down"></i></p>
                <p>Marca <i class="fa-solid fa-chevron-down"></i></p>
                <p>Precio <i class="fa-solid fa-chevron-down"></i></p>
            </div>
        </div>
        <div class="galeriaProductos">
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>

            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>

            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>

            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
            <article>
                <img src="/img/adidas-pala-padel-kaltom-ctrl-2.0.jpg" alt="Pala 1">
                <div class="bloque-info">
                    <p class="precio">$35000</p>
                    <p class="descripcion">Paleta Adidas Kaltom</p>
                </div>
            </article>
        </div>
    </main>
    
</body>
</html>