* {
    box-sizing: border-box;
  }
  

:root {

  --gray: #666666;
  --light-gray: #ebebeb;
  --blanco-txt:#FFFFFF ;
  --rojo-p:#DA0037 ;
  --negro-s:#171717; 
  --base-font-family: 'Montserrat', sans-serif;
}


.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  
  .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .product-box a {
    display: block;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--rojo-p);
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  


  
  .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  

  .form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
  }
  
  .form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
  }
  
  textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
  }


  .buy-now-button {
    background-color: #DA0037;
    font-size:1em;
    color: #ffffff;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    
  }


  .boton-personalizado {
    background-color: #0b0103;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }