:root{
    --gris-p:#959592 ;
    --blanco-txt:#FFFFFF ;
    --rojo-p:#DA0037 ;
    --negro-s:#171717;
}
body{
    background-image:url(/img/imagen-Fondo-regYinic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
body, html{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.main-div{
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    display: flex;
    align-content: stretch;
    box-shadow: 0px 0px 20px 9px black;
    max-width: 800px;
    backdrop-filter: blur(5px);
    background-color: rgb(0 0 0 / 40%);;
    border: 0;
}
.top-title{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    justify-content: center;
}
.first-title{
    height: 3rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--blanco-txt);
    font-size: 1.2rem;
    background: transparent;
}
.second-title{
    color: var(--gris-p);
}
.top-title h1{
    margin: 5px 0 0 0 ;
}
.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.buttons p{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--gris-p);
    
}
.button-register{
    padding: 10px 0 10px 0;
    margin: 10px;
    text-align: center;
    color: var(--blanco-txt);
    align-self: center;
    border-left: 0;
    border-right: 0;
    font-weight: bolder;
    
    text-decoration: none;
}

.container-register {
    width: 60%;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rojo-p);
    border-top: var(--gris-p) solid 1px;
    border-bottom: var(--gris-p) solid 1px;
    transition-property: width, background-color;
    transition-duration: 0.5s;
}
.container-register:hover{
    background-color: var(--gris-p);
    width: 100%;
}

.bottom-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.icons-container{
    height: 25px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.icons-container a{
    color: var(--negro-s);
    cursor: pointer;
}
.icons {
    width: 30px;
    font-size: 1.5rem;
    margin-left: 10px;
    transition: 0.3s;
    color: var(--blanco-txt);
}
.icons:hover{
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: var(--rojo-p);
}

.forms {
    display: flex;
    width: 100%;
    height: 142px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.forms input{
    width: 85%;
    padding: 10px;
    font-weight: bolder;
    border-bottom: var(--gris-p) 1px solid;
    color: var(--blanco-txt);
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.forms input:focus{
    outline: none;
}
.recordarme {
    display: flex;
    align-self: self-start;
    margin-left: 3rem;
}
.recordarme p {
    margin-left: 5px;
    color: var(--blanco-txt);
}
.button-sesion button{
    padding: 8px;
    border-radius: 25px;
    width: 150px;
    background-color: var(--gris-p);
    color: var(--blanco-txt);
    border: 0;
}
.button-sesion button:hover{
    color: var(--gris-p);
    background-color: var(--blanco-txt);
    border: var(--gris-p) 1px solid;
    font-weight: bolder;
    cursor: pointer;
}
.hr-top{
    width: 60%;
    border: var(--gris-p) 1.5px solid;
}
.hr-bottom{
    width: 40%;
    border: var(--gris-p) 1.5px solid;
}

@media (max-width: 425px) {
    .main-div{
        flex-direction: column;
    }
    .forms{
        justify-content: space-between;
    }
}

