* { 
    box-sizing: border-box;
}    

html{
    font-family: 'Montserrat', sans-serif;
    color:#959592;
    background-color:white;
    font-weight:bold
}

main{
    padding: 6px;

}
 
.img-raqueta{
    width: 25vw;
   
   
}

.contenedor-padre{
    display: flex;
    margin: auto;
    border: solid 3px black;
    padding-top: 2%;
    
   
    
    
}

.contenedores.hijos{
    display: flex;
    

}

.textos {

    display: block;
    text-align: center;
}

#number{
    width: 8vw;
    margin: auto;
    display: block;
    
   
    
    
}

.contenedor-3{
    display: block;
    
}

.titulo-productos{
    background-color:#DA0037;
    color: #EDEDED;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
   
}

.contenedor-pagar{
    display: block;
    background-color: #DA0037;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    

}

.contenedores-hijos-3{

    display: block;
    margin: 30px;
    border: solid 3px black;
    width: 45%;
    border-radius: 4%;
    padding: 1%;
    max-width: 100%;
   
}

.fa-sharp{
    display:block;
    color: black;
    text-align: center;
    font-size: 30px;
   
    
}

.agregar-carrito{
    display: block;
    background-color: #DA0037;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    
    
}

.contenedores-hijos-agregar-carrito{

    display: block;
    margin: auto;
    border:  3px black;
    width: 45%;
    padding: 1%;
    max-width: 100%;
   
}

.texto-eliminar {

    display: block;
    text-align: center;
    font-size: 8px;
}

.similares{
    text-align: center;
}

.img-raqueta-similares{
    width: 8vw;
    
}

.contenedor-imagenes{
    text-align: center;
    
    
}
