:root{
    --gris-p:#959592 ;
    --blanco-txt:#FFFFFF ;
    --rojo-p:#DA0037 ;
    --negro-s:#171717;
}

.error{
    color: #DA0037;
    font-weight: 900;
}
body{
    background-image:url(/img/imagen-Fondo-regYinic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
body, html{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.main-div{
    width: 100%;
    height: 60rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 9px black;
    max-width: 800px;
    backdrop-filter: blur(5px);
    background-color: rgb(0 0 0 / 80%);;
    border: 0;
}
.top-title{
    display: flex;
    width: 100%;
    margin-top: 10%;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}
.first-title{
    height: 3rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: transparent;
    color: var(--blanco-txt);
    font-size: 1.2rem;
}
.second-title{
    color: var(--gris-p);
}

.top-title h1{
    margin: 5px 0 0 0 ;
}
.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.buttons p{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--gris-p);
    
}
.buttons button{
    padding: 10px;
    width: 100%;
    color: var(--blanco-txt);
    align-self: center;
    background-color: var(--rojo-p);
    border-top: var(--gris-p) solid 1px;
    border-bottom: var(--gris-p) solid 1px;
    border-left: 0;
    border-right: 0;
    font-weight: bolder;
    transition-property: width, background-color;
    transition-duration: 0.5s;
}
.buttons button:hover{
    cursor: pointer;
    background-color: var(--gris-p);
    width: 60%;
}

.bottom-form{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10%;
}

.icons-container{
    height: 25px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.icons-container a{
    color: var(--negro-s);
    cursor: pointer;
}
.icons {
    width: 30px;
    font-size: 1.5rem;
    margin-left: 10px;
    transition: 0.3s;
    color: var(--blanco-txt);
}
.icons:hover{
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: var(--rojo-p);
}

.forms {
    margin-top: -10%;
    display: flex;
    width: 100%;
    height: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.forms input{
    width: 85%;
    padding: 10px;
    margin: 1rem 0 1rem 0;
    font-weight: bolder;
    border-bottom: var(--gris-p) 1px solid;
    color: var(--blanco-txt);
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.fileInput {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    color: var(--gris-p);
    margin-top: 2%;
}

.forms input:focus{
    outline: none;
}
.button-sesion{
    display: flex;
    flex-direction: column;
}
.button-sesion a{
    margin-top: 1rem;
    font-weight:bolder;
}
.button-sesion button{
    padding: 8px;
    border-radius: 25px;
    width: 150px;
    background-color: var(--gris-p);
    color: var(--blanco-txt);
    border: 0;
}
.button-sesion button:hover{
    color: var(--gris-p);
    background-color: var(--blanco-txt);
    border: var(--gris-p) 1px solid;
    font-weight: bolder;
    cursor: pointer;
}
.hr-top{
    width: 60%;
    border: var(--gris-p) 1.5px solid;
}
.hr-bottom{
    width: 40%;
    border: var(--gris-p) 1.5px solid;
}

/* Validaciones desde el Front End */ 

.es-valido {

    background-color: #198754;
    border: 2px #198754;
  }
  
  .es-invalido {
    background-color: #F8D7DA;
    border: 2px #842029;
  }
  
  #errores {
  
    color: #842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
    list-style: none;
  }

  
  

