:root{
    --gris-p:#414242 ;
    --blanco-txt:#FFFFFF ;
    --rojo-p:#DA0037 ;
    --negro-s:#171717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.barraSuperior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.barraInferior{
    background-color: var(--blanco-txt);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    height: 6vh;
    z-index: 1;
    border-bottom: #DA0037 solid 3px;
}

.barraInferior a{
    color: var(--negro-s);
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.3s;
    letter-spacing: 1.2px;
    text-shadow: -0.3px 0.3px, 0.3px 0.3px, 0.3px 0.3px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraInferior a .fa-solid{
    padding-left: 10px;
}

.barraInferior a:hover{
    color: #DA0037;
}


header .hipervinculo-logo{
    width: 7%;
    margin-left: 3%;
}

.logo{
    width: 100%;
    max-width: 170px;
}


.iconos-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    
}

#busqueda{
    width: 30vw;
    height: 2.3rem;
    border-radius: 1rem;
    text-align: left;
    padding-left: 1%;
    font-weight: bold;
    border: 2px solid;
}

#busqueda::placeholder{
    color: var(--negro-s);
    font-weight: 800;
}

header i{
    color: var(--negro-s);
    font-size: 1.7rem;
    padding: 8px;
    margin: 5px;
    border-radius: 2px;
}


header a{
    text-decoration: none;
    color: var(--negro-s);
}
header a:hover{
    color: var(--blanco-txt);
}

@media(min-width:768px){
    header .hipervinculo-logo{
        width:  10%;

    }
}


@media(max-width:768px){
    header .hipervinculo-logo{
        width:  14%;
    } 

    header i{
        font-size: 1.2rem;
    }

    .barraSuperior{
      
        padding: 0.5rem;
    }
    .barraInferior a{
        font-size: 14px;
    }
}
