:root{
    --gris-p:#414242 ;
    --blanco-txt:#FFFFFF ;
    --rojo-p:#DA0037 ;
    --negro-s:#171717;
}

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:start;
    background-color: var(--blanco-txt);
    color: var(--negro-s);
    border-top: solid 30px var(--negro-s);
    margin-top: 20px;
    width: 100%;
    position: relative;
    bottom: -163px;
}

footer ul{
    list-style:none;
}

.contenedor-info-footer{
    margin-bottom:0.25rem ;
    width: 17rem;
    margin-top: 20px;
    padding: 10px;
    height: 100%;
}
footer h3{
    font-style: italic;
    font-weight:bolder;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 1.5px;
    width: 100%;
    text-align:start;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: var(--rojo-p) 2px solid;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
    padding-bottom: 10px;
}

#iconos-redes{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

footer a{
    text-decoration: none;
    color: var(--negro-s);
    transition: color 0.3s;
    font-weight: bold;
}
footer a:hover{
    color: var(--rojo-p);
}

.contacto a{
    color: black;
}

footer .hipervinculo-logo{
    width: 7%;
    margin-right: 3%;
}

.ul-iconos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

li i{
    cursor: pointer;
    transition: color 0.3s;
}

li i:hover{
    color: #DA0037;
}
