<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1d21def6f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleHeader.css">
    <title>Header</title>
</head>
<body>
    <header>
       <div class="barraSuperior">
            <a href=""><img src="#" alt="Logo" class="logo"></a>
            <div class="BuscadorCarritoCuenta">
                <label for="busqueda">
                    <input type="search" name="busqueda" id="busqueda" class="busqueda" placeholder="Busque aquí...">
                </label>
                <a href=""><i class="fa-regular fa-user"></i></a> <!-- Logo De Cuentas -->
                <a href=""><i class="fa-solid fa-cart-shopping"></i></i></a> <!-- Logo de Carrito -->
            </div>
        </div>
       <div class="barraInferior">
        <a href="#">Productos</a>
        <a href="#">Marcas</a>
        <a href="#">Ofertas</a>
       </div>
    </header>
    <main></main>
    <footer></footer>
    
</body>
</html>