<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home-style.css">
    <link rel="stylesheet" href="css/styleFooter.css">
    <link rel="stylesheet" href="css/styleHeader.css">
    <script src="https://kit.fontawesome.com/09ef2a5033.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&display=swap" rel="stylesheet">
    <title>Home-Ganga-Padel</title>
</head>
<body>
    <header>
            <div class="barraSuperior">
                <img src="img/logo.png" alt="logo" class="logo">
                <div class="buscadorCarritoCuenta">
                    <input type="search" name="busqueda" id="busqueda" class="busqueda" placeholder="Busque aquí...">
                    <a href=""><i class="fa-regular fa-user"></i></a> <!-- Logo De Cuentas -->
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></i></a> <!-- Logo de Carrito -->
                </div>
            </div>
            <div class="barraInferior">
                <a href="#">Productos</a>
                <a href="#">Marcas</a>
                <a href="#">Ofertas</a>
            </div>
    </header>
    <main> 
        <div id="contenedor-slider">
            <div class="slider">
                <img src="img/slider-1.jpg" alt="imagen-slider">
            </div>
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-right"></i>
            <div id="dots">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
            </div>
        </div>
        <div class="contenedor-h">
            <h3>TE RECOMENDAMOS</h3>
        </div>
       
        <section>
            <div class="contenedor-productos">
                <article class="articulo">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="uno">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="dos">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="tres">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <i class="fa-solid fa-arrow-left arrow-left-article"></i>
                <i class="fa-solid fa-arrow-right arrow-right-article"></i>
            </div>
        </section>
        <div id="contenedor-imagen-promocional">
            <img src="img/slider-2.jpg" alt="imagen-promocional">
        </div>
        <div class="contenedor-h">
            <h3>OFERTAS</h3>
        </div>
        <section>
            <div class="contenedor-productos">
                <article class="articulo">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="uno">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="dos">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="tres">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <i class="fa-solid fa-arrow-left arrow-left-article"></i>
                <i class="fa-solid fa-arrow-right arrow-right-article"></i>
            </div>
        </section>
    </main>    
    <footer>
                <div class="navegacion">
                    <ul>
                        <li><h3>Navegación</h3></li>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="redesSociales">
                    <ul>
                        <li><h3>Redes</h3></li>
                        <li><i class="fa-brands fa-instagram"></i> <!-- Ig --></li>
                        <li><i class="fa-brands fa-whatsapp"></i> <!-- wpp --></li>
                        <li><i class="fa-brands fa-facebook"></i> <!-- Facebook --></li>
                    </ul>
                </div>
                <div class="información">
                    <ul>
                        <li><h3>información</h3></li>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Términos de servicio</a></li>
                        <li><a href="#">Política de devolución</a></li>
                    </ul>
                </div>
                <div class="contacto">
                    <ul>
                        <li><h3>Contacto</h3></li>
                        <li>Ganga padel</li>
                        <li>Caseros 1828</li>
                        <li><a href="tel:+541168551033">+541168551033</a></li>
                    </ul>
                    
                </div>
                <div class="FormasDePago">
                    <ul>
                        <li><h3>Pagos</h3></li>
                        <li><i class="fa-regular fa-credit-card"></i></li> <!-- Tarjetas -->
                        <li><i class="fa-solid fa-building-columns"></i></li> <!-- Mp -->
                        <li><i class="fa-brands fa-cc-paypal"></i></li> <!-- paypal -->
                    </ul>
                </div>
                <div class="logo">
                    <a href="#"><img src="#" alt="Logo"></a>
                </div>  
    </footer>
</body>
</html>