<header>
    <div class="barraSuperior">
        <a href="./home.html" class="hipervinculo-logo"><img src="img/logo.png" alt="logo" class="logo"></a>
        <input type="search" name="busqueda" id="busqueda" class="busqueda" placeholder="Busque aquí...">
        <div class="iconos-header">
            <a href=""><i class="fa-regular fa-user"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></i></a>
        </div>
    </div>

</header>