<header>
    <div class="barraSuperior">
        <a href="/" class="hipervinculo-logo"><img src="/img/logo_fondo_trans.png" alt="logo" class="logo"></a>
        <form action="/products/search" method="GET">
            <input name="busqueda" id="busqueda" class="busqueda" placeholder="Busque aquí...">
        </form>
        <div class="iconos-header">
            <a href="/login"><i class="fa-regular fa-user"></i></a>
            <a href="/users/productCart"><i class="fa-solid fa-cart-shopping"></i></i></a>
        </div>
    </div>
</header>