<div class="barraInferior">
    <a href="/products">Productos<i class="fa-solid fa-chevron-down"></i></a>
    <a href="#">Marcas<i class="fa-solid fa-chevron-down"></i></a>
    <a href="#">Ofertas<i class="fa-solid fa-chevron-down"></i></a>
</div>