<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header-footer-stylesheet.ejs')  %>
    <link rel="stylesheet" href="/css/styleHome.css">
    
    <title>Ganga Padel</title>
<body>
    <%- include('../partials/header.ejs') %>
    
    <main>
        <div class="barraInferior">
            <a href="producto">Productos<i class="fa-solid fa-chevron-down"></i></a>
            <a href="#">Marcas<i class="fa-solid fa-chevron-down"></i></a>
            <a href="#">Ofertas<i class="fa-solid fa-chevron-down"></i></a>
        </div>
        <div id="contenedor-slider">
            <div class="slider">
                <img src="img/slider-1.jpg" alt="imagen-slider">
            </div>
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-right"></i>
            <div id="dots">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
            </div>
        </div>
        <div class="contenedor-h">
            <h3>TE RECOMENDAMOS</h3>
        </div>
        <section>
            <div class="contenedor-productos">
                <article class="articulo">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="uno">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="dos">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="tres">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <i class="fa-solid fa-arrow-left arrow-left-article"></i>
                <i class="fa-solid fa-arrow-right arrow-right-article"></i>
            </div>
        </section>
        <div id="contenedor-imagen-promocional">
            <img src="img/slider-2.jpg" alt="imagen-promocional">
        </div>
        <div class="contenedor-h">
            <h3>OFERTAS</h3>
        </div>
        <section>
            <div class="contenedor-productos">
                <article class="articulo">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="uno">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">                        
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="dos">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <article class="articulo" id="tres">
                    <div class="contenedor-imagen">
                        <img class="imagen-producto" src="img/raqueta-1.jpg" alt="imagen-producto">
                    </div>
                    <div class="descripcion-producto">
                        <p class="categoria">Coleccion raquetas 2023</p>
                        <p class="nombre-producto">Metalbone 23</p>
                    </div>
                    <p class="precio">$40.000</p>
                </article>
                <i class="fa-solid fa-arrow-left arrow-left-article"></i>
                <i class="fa-solid fa-arrow-right arrow-right-article"></i>
            </div>
        </section>
        <%- include('../partials/footer.ejs') %>
        
    </main>
</body>
</html>

<!--  -->