<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1d21def6f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/inicioSesion.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio De Sesion</title>
</head>

<body>
    <div class="main-div">
        <section class="top-title">
            <div class="first-title">
                <h1>Ganga Padel</h1>
            </div>
            <div class="buttons">
                <p>¿No tenes cuenta?</p>
            </div>
            <div class="container-register"><a href="/register" class="button-register">Registrate</a></div>
        </section>
        <section class="bottom-form">
            <h3 class="second-title">Iniciar Sesion</h3>
            <div class="icons-container">
                <a href="">
                    <div class="icons"><i class="fa-brands fa-google"></i></div>
                </a>
                <a href="">
                    <div class="icons"><i class="fa-brands fa-facebook"></i></div>
                </a>
                <a href="">
                    <div class="icons"><i class="fa-brands fa-apple"></i></div>
                </a>
            </div>
            <form class="forms" action="/login" method="POST">
            
                <input type="email" name="email" placeholder="Correo electronico"><br>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msj %>
                    </div>
                <% } %>
                <input type="password"  name="password" placeholder="Contraseña">
                <hr class="hr-top">
                <div class="button-sesion">
                    <button type="submit" name="iniciar sesion">Iniciar Sesion</button>
                </div>
                <hr class="hr-bottom">
            </form>

        </section>
    </div>
</body>

</html>