<!DOCTYPE html>
<html lang="en">
<head> <!-- Al poner include del head, tenemos  Problemas con el CSS --> 
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/listaDeseos.css">
    <%- include('../partials/header-footer-stylesheet.ejs')  %>
    <title>Producto</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h2 class="titulo-productos">Productos</h2>
        <div class="contenedor-padre">

            <article class="contenedores-hijos">

                <img class="img-raqueta" src="/img/adidas-pala-padel-metalbone-3.2.jpg" alt="Raqueta">
                <p class="textos">Adidas </p>
                <p class="textos">$65.000</P>
                <input id="number" type="number" value="1" />
                <p class="textos">Total: $65000</p>
                <p class="texto-eliminar"> <strong>Eliminar producto</strong></p>
            </article>

            <article class="contenedores-hijos">
                <img class="img-raqueta" src="/img/head-pala-padel-evo-delta-2022.jpg" alt="Raqueta">
                <p class="textos">Head</p>
                <P class="textos">$80000</P>
                <input id="number" type="number" value="1" />
                <p class="textos">Total: $80000</p>
                <p class="texto-eliminar">Eliminar producto</p>
            </article>

            <article class="contenedores-hijos-agregar-carrito">

                <p class="agregar-carrito"> <strong>Agregar al carrito</strong></p>
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            </article>


        </div>

    </main>
    <%- include('../partials/footer.ejs') %>

    

</body>

</html>
